@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{

    margin: 0;
    padding: 0;
}
body{
    font-family: 'Karla', sans-serif;
    background-color:#eee;
    font-size: 16px;
    /* background-image: linear-gradient(rgba(236, 189, 236, 0.651),rgba(240, 199, 238, 0.555)),url("/img/3195400.jpg"); */
    background-image: url("./img/back.jpg");
    
}
.box{
    /* margin: auto;
    top: 50px;
    bottom: 50px;
    left: 10px;
    right: 50px;
     */
    /* margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%; */
    margin: auto;
    top: 50px;
  bottom: 50px;
  left:20px;
  right: 20px;
    
    box-shadow: 2px 2px 2px 2px rgb(161, 161, 161);
}
h3{
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    
}
h5{
    color: hsl(71, 73%, 54%);
    font-weight: 700;
}
p{
   color:  hsl(204, 4%, 72%);
}
.box2{
background-color: hsl(179, 62%, 43%);
}
.box3{
    background-color:hsl(179, 52%, 55%);
    color: rgba(236, 245, 245, 0.842);
}
.box2 button{
    background-color:hsl(71, 87%, 51%) ;
}
.box2 button:hover{
    box-shadow: 5px 5px 5px 2px rgb(148, 144, 144);
    transition: 0.5s;
    
}
small{
    color: gainsboro;
}
